# Python files and venv
venv
__pycache__/

# IDE Files
.idea/
.DS_Store

# Sensitive Files
.env
config.py
cameras.json
ppe_zones.json

# Ignore snapshots
ppe_app/snapshots

# Ignore hosted images
microsoft_teams_app/hosted_images

# Raw dataset
ppe_dataset_raw

ppe_app/detection/live_video_test.py