aiohttp==3.8.6
aiosignal==1.3.1
arrow==1.3.0
async-timeout==4.0.3
attrs==23.1.0
azure-core==1.29.5
binaryornot==0.4.4
blinker==1.7.0
botbuilder-schema==4.14.6
botframework-connector==4.14.6
botframework-streaming==4.14.6
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==41.0.5
cycler==0.12.1
Cython==3.0.5
docopt==0.6.2
filelock==3.13.1
Flask==3.0.0
fonttools==4.44.0
frozenlist==1.4.0
fsspec==2023.10.0
furl==2.1.3
future==0.18.3
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jsonpickle==3.0.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
lapx==0.5.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
mdurl==0.1.2
meraki==1.39.0
mpmath==1.3.0
msal==1.25.0
msrest==0.6.21
multidict==6.0.4
networkx==3.2.1
numpy==1.26.1
oauthlib==3.2.2
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
orderedmultidict==1.0.1
packaging==23.2
paho-mqtt==1.6.1
pandas==2.1.2
pathlib2==2.3.7.post1
Pillow==10.1.0
pip-review==1.3.0
poyo==0.5.0
psutil==5.9.6
py-cpuinfo==9.0.0
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rpds-py==0.12.0
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
supervision==0.16.0
sympy==1.12
thop==0.1.1.post2209072238
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.3
ultralytics==8.0.208
urllib3==1.26.18
Werkzeug==3.0.1
whichcraft==0.6.1
yarg==0.1.9
yarl==1.9.2
